html,body{
    height:100vh;
    background-color: orangered;
}

#container{
    background-color:white;
    height:500px;
    width:500px;
    display: flex;
    flex-wrap: wrap;
}



.hover
{
    background-color: black;
}